<% 
def article_href(article) 
  return "/articles/#{article.id}" 
end
%>

<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_href(article) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create new Article", "/articles/new" %>
